* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    text-align: center;
    padding: 20px;
}

#profile-pic {
    width: 250px;
    border-radius: 50%;
    border: 5px solid blue;
}

section {
    margin-bottom: 40px;
}


h1 {
    font-family:Designer;
    color: blue;
    font-size: 50px;
}

h1 {
    font-family: Designer;
    color: blue;
    font-size: 50px;
}

h2 {
    font-family: Designer;
    color: darkblue;
    font-size: 40px;
}

.textbox {
    font-family: BigNoodleTitling;
    color: black;
    font-size: 30px;
    border-radius: 15px;
    padding: 20px;
    background-color: aliceblue;
    width: 1100px;
    margin: 20px auto;
    text-align: justify;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


ul {
    list-style: none;
}

li {
    font-family: BigNoodleTitling;
    font-size: 30px;
}

#skills ul li {
    padding: 5px;
    background-color: lightcyan;
    display: inline-block;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

    #skills ul li:hover {
        background-color: deepskyblue; 
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    }


#projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: lightcyan;
    border-radius: 15px;
}

    #projects-container .project {
        background-color: aliceblue;
        padding: 20px;
        margin: 10px;
        width: calc(33% - 20px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

@media (max-width: 768px) {
    #projects-container .project {
        width: calc(50% - 20px);
    }
}

@media (max-width: 500px) {
    #projects-container .project {
        width: 100%;
    }
}

.project {
    padding: 10px;
    margin-bottom: 10px;
}

    .project h3 {
        color: blue;
        font-size: 40px;
        font-family: BigNoodleTitling;
    }

    .project p {
        color: #333;
        font-size: 20px;
        font-family: BigNoodleTitling;
        text-align: justify;
    }

    .project a {
        color: darkblue;
        font-family: BigNoodleTitling;
        padding-bottom: 0;

    }

    .project a: hover {
        color: blue;
        font-family: BigNoodleTitling;
        padding-bottom: 0;
    }


form {
    max-width:1100px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: lightcyan;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

    form label {
        font-family: BigNoodleTitling;
        font-size: 25px;
        margin-bottom: 0;
        flex-basis: auto;
        margin-right: 10px;
    }

    form input[type="text"],
    form input[type="email"],
    form textarea {
        flex: 1;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-right: 10px;
        background-color: aliceblue;
    }

    form textarea {
        flex: 2;
    }

    form button[type="submit"] {
        background-color: blue;
        color: white;
        padding: 1px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-family: BigNoodleTitling;
        letter-spacing: 2px;
        font-size: 25px;
        flex-shrink: 0; 
    }

        form button[type="submit"]:hover {
            background-color: darkblue;
        }


    
